---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="RyluTrails">
  <h1 class="text-4xl font-bold">RyluTrails</h1>
  <p>Hikes, photos, and ratings from Ryan and Lucas.</p>
</BaseLayout>